<div>
  <script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
      <div ng-transclude></div>
    </div>
  </script>
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
</div>

<div class="container">
	<form>
		<div id="form-container">
			<div id="inputs-container">
				<br>

				<div class="form-group">
					<div class="name-input col-xs-6">
						<input class="form-control " id="first-name-input" placeholder=" First Name" type="text" ng-model="person.firstname">
					</div>

					<div class="name-input col-xs-6">
						<input class="form-control" id="last-name-input" placeholder=" Last Name" type="text" ng-model="person.lastname"><br>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<input class="form-control" id="address" placeholder=" Address" type="text" ng-model="person.address"><br>
					</div>
					<div class="col-xs-12">
						<input class="form-control" id="phone" placeholder=" Phone eg: 555-555-5555" type="text" ng-model="person.phone"><br>
					<div class="qty container">
				<!-- QTY RADIOS -->
					<span>How many coats can you pledge to give?</span><br>
					    <div class="btn-group">
					        <label class="btn btn-qty" ng-model="person.qty" uib-btn-radio="1">1</label>
					        <label class="btn btn-qty" ng-model="person.qty" uib-btn-radio="2">2</label>
					        <label class="btn btn-qty" ng-model="person.qty" uib-btn-radio="3">3</label>
					        <label class="btn btn-qty" ng-model="person.qty" uib-btn-radio="4">4</label>
					        <label class="btn btn-qty" ng-model="person.qty" uib-btn-radio="5">5</label>
					        <label class="btn btn-qty" ng-model="person.qty" uib-btn-radio="6">6</label>
					        <label class="btn btn-qty" ng-model="person.qty" uib-btn-radio="7">7</label>
					    </div>
					    <div>&nbsp</div>
					</div>

					<div class="col-xs-12">
						<textarea class="form-control" id="notes" placeholder="notes. . ." row="5" col="10" ng-model="person.notes"></textarea><br>
					</div>
				</div>

			<div id="button-container">
				<button class="btn btn-primary" id="add-button" type="submit" ng-click="addPerson()">add</button>
			</div>


			<div>
				&nbsp
			</div>
		</div>
	</form>
</div>